


body {
    background-color: hsl(212, 86%, 81%); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    width: 320px;
    height: 499px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}


.qr-box {
    background-color: aqua;
    width: 288px;
    height: 288px;
    overflow: auto;
    border-radius: 10px;
    background-image: url(./images/image-qr-code.png);
    background-size: contain;

}

/* title styles */
.title {
    padding: 5px 20px 5px 20px;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* paragraph styles */
.para {
    padding: 0px 20px;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(216, 15%, 48%);
}